@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Custom scrollbars */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #F4ECE4;
  }
  ::-webkit-scrollbar-thumb {
    background: #A67C52;
    border-radius: 9999px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #6F4E37;
  }
}
